/*global css*/
*{
	font-family: 'Raleway';
	background-color:rgb(240, 240, 240);
}
html{
	padding-left: 20%;
	padding-right: 20%;

}

/*header css*/


#headflex{
	display:flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	width: 100%;
}
.logocontainer{
	position: relative;
}
.logo{
	padding-top:10px;

	opacity:1;
}
.logo img{
	transition: opacity 0.6s ease-in-out;
}
.logo img:hover{
	position: relative;
	opacity:0;
}
#logohot{
	position:absolute;
	left:0;
	top:0;

}
#navbar{
	padding-top: 7.5%;
	font-size:1.25em;
	
}
#navbar span{
	padding-left:10px;
	padding-right:10px;
	
}
#navbar a{
	transition: border 0.8s ease-in;
	transition: color 0.5s ease;
	text-decoration: none;
	color:black;
	border-bottom: 0px solid;
	border-bottom-width: 0px;
}
#navbar a:hover, a:active{
	color: #90C7E3;

}
.hotlink{
	color: #90C7E3;
}

@media screen and (max-width: 800px){
	html{
		padding:10%;
	}
	#headflex{
		max-width: 100%;
	}
	#navbar{
		
	}	

}
body p{
	font-size: 1.5em;
	font-family: 'Nunito Sans';
	color: black;
	background-color: inherit;
	margin-top: 0.25em;
}

/* resume css */
#resumeframe{
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
}
#resumeframe img{
	height:70vh;
	width: auto;
}



#name{
	
	text-decoration: none;
	color: black;
	transition: 0.5s ease;
}
#name p{
	transition: 0.6s ease;
	background-color: rgb(250, 250, 250);
	padding: 1em;
	margin-bottom: 0.5em;
}
#name p:hover{
	color:#90C7E3;
}
#prompt{
	padding-top: 1em;
	font-size: xx-large;
}
#intro{
	margin-top: 1.5em;
	display:flex;
	flex-direction: column;

	padding-top: 1em;
	font-family: 'Nunito Sans';
}

#intro .row{
	background-color: rgb(240, 240, 240);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#intro .column{
	background-color: rgb(240, 240, 240);
	display: flex;
	flex-direction: column;
	padding-right: 0em;
}

#intro #rcol h5{
	
	margin-top:auto;
	
	margin-left:4em;
	text-align: left;
	

	
}

.highlights{
	background: rgb(250,250,250);
	padding:0.5em;
	margin: 1em;
	margin-left: 0em;
	margin-right: 0em;
}
.highlights div{
	background-color: inherit;
	padding: 1em;
}
.highlights h1, .highlights h2, .highlights h3{
	background: inherit;
	
}
.highlights h3{
	font-family:'Raleway', sans-serif;
}


#pagecontainer{
	position: relative;
	min-height: 75vh;
}
#plinks_row{
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
}
#plinks{
	display: flex;
	flex-direction: row;
	
	
}
#plinks .highlights{
	margin-left: 2em;
	padding: 0;
	
}
#plinks .highlights:first-child{
	margin-left: 0em;
}
#plinks a{
	background-color:rgb(240, 240, 240);
	height: min-content;
	width: auto;
	overflow: hidden;
	display: inline-block;
	transition: 0.5s ease;
}

#plinks #fs:hover{
	background-color: #19194A;
}
#plinks #np:hover{
	background-color: #ED1C24;
}
#plinks #sjh:hover{
	background-color: #FFBAF5;
}
#plinks #tor:hover{
	background-color: #90C7E3;
}
#plinks img{
	width: 120px;
	padding: 1em;
	background-color: rgb(250, 250, 250);
	transition: 0.5s ease;
}

.hot{
	position: absolute;
	opacity:0;
}
#stamp{
	display: flex;
	flex-direction: row;
	align-self: center;
	width: 100%;
	
}
#stamp img{

	width: 152px;
}
#plinks img:hover{
	opacity: 100;
}
footer{
	position: relative;
	bottom:0;
	width: 100%;
	height: 5vh;
	padding-bottom: 1vh;
	font-size:0.75em;
}
#copy{
	font-size: inherit;
	
}
/* portfolio */
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
hr{
	width: 0;
	margin: 1em;
}
.gif{
	width:80%;
	margin-left:auto;
	margin-right: 2em;
	padding: 1em;
	background-color: rgb(250, 250, 250);
}
#demo_fs{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:90%;
}
h2{
	background-color: inherit;
	font-family: 'Nunito Sans';
	font-weight: 200;
	padding: 0px;
	margin: 0px;



}
h3{
	background-color: inherit;
	font-family: 'Nunito Sans';
	font-weight: 200;
	padding: 0px;
	margin: 0px;
	
}
h3 a{
	background-color: inherit;
	font-family: 'Nunito Sans';
	font-weight: 200;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	color:rgb(22,22,22);
	transition: 0.5s ease;
}
h3 a:hover{
	color:#90C7E3;
}
.link{
	width: 24px;
	height: auto;
	background-color: rgb(250,250,250);
}
.flexbox{
	background-color:red;
}
.flexcontainer{
	padding-top: 5%;
	display: flex;
	flex-direction: column;
	
}
.flexitem{
	flex: 100%;
	
}
#rcol{
	text-align: right;
}
#rcol2{
	text-align: left;
}
.row{
	display: flex;
	background-color: rgb(250,250,250);
}
.column{
	flex:50%;
	background-color: rgb(250,250,250);
	font-family: "Nunito Sans", sans-serif;
	padding-right: 2em;
}
.gallery{
	background-color: rgb(250,250,250);
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	align-items: stretch;
	justify-content: space-evenly;
	flex-wrap: wrap;

}
.gallery div{

	display: flex;
	align-items: center;

}

.gallery_item img{
	
	width: 200px;
	height: auto;
	
}
.collapsible {
	font-family: "Nunito Sans", sans-serif;
	color: black;
	cursor: pointer;
	padding: 18px 2vw 18px 1vw;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	
	transition: 0.5s ease;
  }
  
  .active, .collapsible:hover {
	background-color: rgb(250,250,250);
	color: #90c7e3;

  }

  .collapsible:after {
	content: '\25CB';
	color: black;
	font-weight: bold;
	float: right;
	
	
	margin-left: 5px;
	transition: 0.5s ease;
  }
  .collapsible:hover:after {
	color: #90C7E3;
  }
  .collapsible:last-of-type{
	font-size: 1.5em;
}
  
  .active:after {
	content: "\25CF";
	color: #90C7E3
  }
  
  .content {
	padding: 0 2vw 0 2vw;
	
	
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: rgb(250,250,250);
  }
.banner{
	display:block;
	margin-left: auto;
	margin-right: auto;
	height:72.5vh;
	
	}
.pictureframe{
	background-color: white;
}
@media screen and (max-width: 600px){
	.content{
		max-height:100;
	}
}

.content p{
	font-size: 1em;
}
video{
	max-width: 100%;

}
.content img{
	max-width: 100%;
}
.lb_column {
	float: left;
	width: 25%;
  }
  
  /* The Modal (background) */
  .modal, .sjh-modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);

  }
  
  /* Modal Content */
  .modal-content, .sjh-model-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
	height:90%;
	z-index: 2;
  }
  
  /* The Close Button */
  .close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0);
	transition: 0.3s ease;
  }
  
  .close:hover,
  .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
	  background-color: white;
		display: none;
		position:relative;
		text-align:center;
  }
  .mySlides img{
	  width: 800px;
	  
	  
	  
  }
  @media screen and (max-width: 600px) {
	  .mySlides img{
		  left: auto;
	  }
  }
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }
  img.demo {
	opacity: 0.6;
	max-width: 100px;
  }
  
  .active_1,
  .demo:hover {
	opacity: 1;
  }
  
  img.hover-shadow {
	transition: 0.3s;
  }
  
  .hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
  }


